{
  "extends": [
    "@gravity-ui/eslint-config",
    "@gravity-ui/eslint-config/server",
    "@gravity-ui/eslint-config/prettier",
    "@gravity-ui/eslint-config/import-order"
  ],
  "root": true,
  "rules": {
    "security/detect-non-literal-regexp": "off"
  },
  "ignorePatterns": [
    "node_modules",
    "dist"
  ]
}